<section id="statement">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Direct<span class="accent animated bounce delay">o</span>r's Statement</h3>
				<hr class="star-light">
			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-6">
				<p class="small">
					When I first moved to the United States, I arrived with a dream. The American

					Dream. This was before realizing that I had to be ready for another kind of

					battle ; establishing myself in another country while barely speaking

					the language.  Being a foreigner… I had never been on the other side. What a

					strange feeling.<br/><br/>

					I crossed the ocean to be the «leading man », the « action movie star » not

					considering for a single moment, the complexity of being placed in a different

					culture. Yes :  A different culture.<br/><br/>

					We eat the same food, wear the same clothes,  watch the same movies and yet we

					are different.<br/><br/>

					DuO is a reflection of what I’ve been through, during those  years, before I was

					able to understand  and appreciate those differences. An acceptance that led to

					truly exploring the strength and the creative energy this country has to offer.

					Marcel desperately wants to share his internal world, Melanie in equal measure,

					has locked herself out of hers, prefering to focus on the external. Both are

					frustrated with the lack of understanding of the other person.<br/><br/>

					The joint journey allows for the realization that barriers, be it cultural or any

					other kind are truly self imposed.  Because as different as we perceive ourselves

					to be- at the core we are all human. We love, laugh and cry the same.<br/><br/>
				</p>
			</div>
			<div class="col-md-6">
				<p class="small">
				<em>
					« DuO » est un film sur la différence, la tolérance et la solitude.

					Lorsque je suis venu pour la première fois aux Etats Unis, j’y suis venu avec un a

					rêve. Le Rêve Américain. C’était bien avant de réaliser que je devais me préparer

					pour un autre grand challenge ; être un acteur dans un pays où je parlais à peine

					la langue, être un étranger… une première pour moi.<br/><br/>

					Je suis arrivé aux USA avec tous les atouts pour être le héros  de film d’action

					sans penser un seul moment à mes différences au sein d’une autre culture. Oui,

					une autre culture.<br/><br/>

					« DuO » est une représentation de mes premiers voyages dans ce pays, entre joie

					et désillusion, avant de comprendre et apprécier sa force et de canaliser cette

					intense énergie du tout-est-possible pour enfin grandir avec lui. <br/><br/>

					Marcel essaie désespérément de partager son monde intérieur, Mélanie, de son

					côté, est concentrée sur les apparences fuyant ainsi ces propres émotions. La

					frustration de nos héros est d’autant plus importante réalisant leur incapacité à

					communiquer. Alors que Marcel et Mélanie se révèlent à nous, nous réalisons

					avec eux que les seules barrières qui peuvent nous séparer les uns des autres ne

					sont ni culturelles ni linguistiques, mais bien celles que nous nous imposons.<br/><br/>
			</em>
			</p>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Ab<span class="accent animated bounce delay">o</span>ut the film</h3>
				<hr class="star-light">
			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-6">
				<p class="small">
					“Broken heart, broken mime”, “DuO” enhances the journey of two

					beautiful bleeding souls. Finding a way to communicate through the obstacle

					course of their barriers is the only way to prevent this trip turning into a

					disaster.<br/><br/>

					Did You Know:<br/><br/>

					"Du-O" was shot intensively in 48hours, 4hours of sleep, 8 locations and we

					clocked over 560 miles (900km). We drove from Los Angeles to Las Vegas

					and then back to L.A. There was a script with no locations attached, but with

					plenty of character conflicts and as we were driving, we kept our story, the arc

					of our characters closely in mind, jumping out of the car as soon as the right

					spot presented itself and into the characters.<br/><br/>

					Improv played a big part and the experience was fun, intense and challenging.

					Anybody familiar with the summer heat in Los Angeles and Vegas, teamed with a car without AC, can understand the

					meaning of having good friends.<br/><br/>

					We are extremely thankful to all our friends who helped us bring you this

					crazy idea today.<br/><br/>
				</p>
			</div>
			<div class="col-md-6">
				<p class="small">
					<em>
						“Coeur brisé, mime blessé”, “DuO” est l’histoire de deux âmes meurtries

					qui doivent surmonter leurs differences afin de pouvoir comuniquer l’un avec

					l’autre pour que ce voyage ne devienne pas un desastre.<br/><br/>

					Le Saviez vous:<br/><br/>

					“DuO” a été un tournage trés intense realisé en 48heures, moins de 4heures

					de sommeil, 8 décors et plus de 900km au compteur. On a conduit de Los

					Angeles à Las Vegas puis Los Angeles à nouveau. On avait notre scenario

					avec aucun décors prévu à l’avance et beaucoup de conflits à exploiter pour

					nos personnages. On est du début à la fin resté dans nos roles ce qui nous

					permettait de filmer instantanément des qu’un décors propice à une des

					scenes se presenter.<br/><br/>

					L’improvisation a pris une place importante lors de ce tournage. “DuO” a été

					un vrai challenge, intense mais par dessus tout “Fun” à faire.

					Travailler sous un soleil de plomb en été dans les deserts de Vegas, au

					Volant d’une voiture sans air conditionnée vous fait realiser au combien vos

					amis sont précieux.<br/><br/>

					On est extrement reconnaissant à l’égard de tous nos amis qui ont contributes

					a vous presenter cette folle aventure aujourd’hui.<br/><br/>
					</em>
				</p>
			</div>
	</div>
</section>
