
<section id="about">
	<div class="container">
		<h3 class="text-center">About Us</h3>
		<img src="img/arrow-black.png" class="head-arrow">
		<p class="about-desc text-center"><em>We're creative mercenaries, problem solvers, production whisperers, and even your best friend when you need it. We are your provisionner. Our job is to provide resources that will enable you to create, offering support across all creative industries for emerging talent.</em></p>
		<h6 class="about-serv text-center">Our multi-disciplinary team will assist you from brainstorming to after party, and everything in between.</h6>
		<div class="row">
			<div class="col-md-3 col-md-offset-2 text-center">
				<h5>Branding/Marketing</h5>
				<h5>Web Design/Dev</h5>
				<h5>Crowd Funding</h5>
			</div>
			<div class="col-md-3 col-md-offset-1 text-center">
				<h5>Creative Networking</h5>
				<h5>Manufacturing</h5>
				<h5>Studio Space</h5>
			</div>
		</div>
		<p class="small text-center about-ps">We're based in Los Angeles, but will travel for the right project.</p>
	</div>
</section>
