<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Director's Statement</h3>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-8 col-md-offset-2">
				<p class="small">"Du-O" was shot intensively in 48 hours, 8 locations and over 560 miles (900km). We drove from Los Angeles to Las Vegas and then back to L.A. We had a script with no locations attached, but with plenty character conflicts. As we were driving we kept our story, the arc of our characters closely in mind and when the right spot for our scene would present itself,  we were literary jumping out of the car and into  our character and shooting it! Improve was part of the making of this movie and it turned to be such a great and intense experience. We are extremely thankful to all our friends who helped us to bring this crazy idea to you today.</p>
			</div>
		</div>
	</div>
</section>
