<section id="cast">
	<div class="small row text-center">
		<h3>Cast</h3>
		<hr class="star-light">
		<div class="col-md-12 text-center">
			<h5>
				<img class="img-responsive img-cast" src="img/marem.jpg" alt="Marem Hassler">
				Marem Hassler -­ Melanie<br/>

				<img class="img-responsive img-cast" src="img/karl.jpeg" alt="Karl E. Landler">
				Karl E. LAndler ­- Marcel<br/>

				<img class="img-responsive img-cast" src="img/danny.jpg" alt="Danny Goler">
				Danny G<span class="accent">o</span>ler ­- Vladiki<br/>

				<img class="img-responsive img-cast" src="img/aurelie.png" alt="Aurelie Meriel">
				Aurelie Meriel ­- Elise<br/>

				<img class="img-responsive img-cast" src="img/lada.jpg" alt="Lada Nikolska">
				Lada Nik<span class="accent">o</span>lskA -­ Katya<br/>
			</h5>
		</div>
	</div>
</section>
