<section id="cast">

		<h3 class="text-center">Cast</h3>
		<hr class="star-light">
	<div class="cast-list">
		<div class="row text-center">
			<div class="col-md-4 col-md-offset-1">
				<img class="img-responsive img-cast" src="img/marem.png" alt="Marem Hassler">
				<p class="small">Marem Hassler - Melanie</p>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<img class="img-responsive img-cast" src="img/karl.jpeg" alt="Karl E. Landler">
				<p class="small">Karl E. Landler ­- Marcel</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<img class="img-responsive img-cast" src="img/danny.jpg" alt="Danny Goler">
				<p class="small">Danny Goler ­- Vladiki</p>
			</div>
			<div class="col-md-4">
				<img class="img-responsive img-cast" src="img/aurelie.png" alt="Aurelie Meriel">
				<p class="small">Aurelie Meriel ­- Elise</p>
			</div>
			<div class="col-md-4">
				<img class="img-responsive img-cast" src="img/lada.jpg" alt="Lada Nikolska">
				<p class="small">Lada Nikolska -­ Katya</p>
			</div>
		</div>
	</div>

</section>
