<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<h3>C<span class="accent animated bounce delay">o</span>ntact Us</h3>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<p class="text-center">We would love to hear from you. Send a message to <a href="mailto:hello@duo-film.com">hello@duo-film.com</a></p>
			</div>
		</div>
	</div>
</section>
