<section id="credits">
	<div class="small container row text-center">
		<h3>Credits</h3>
		<div class="col-md-12">
			<h4>Actors</h4>
			<p>
				Marem HAssler -­ Melanie<br/>

				Karl E. LAndler ­- Marcel<br/>

				Danny Goler ­- Vladiki<br/>

				Aurelie Meriel ­- Elise<br/>

				Lada NikolskA -­ Katya<br/>
			</p>

			<h4>Written by</h4>
			<p>
				Marem HAssler<br/>

				Karl E. LAndler<br/>
			</p>

			<h4>Producers</h4>

			<p>
			Kemi HernAndez<br/>

			Andrea LAuren GoldmAn<br/>

			Karl E. LAndler<br/>
			</p>

			<h4>Production Design</h4>
			<p>
			Marem HAssler
			</p>

			<h4>Co Producers</h4>
			<p>
			Franck IsAbel<br/>

			Ching CAsAnovA TApiA<br/>

			Thierry Pellegrini<br/>
			</p>

			<h4>Associate Producer</h4>

			<p>
			Lada NikolskA<br/>

			Danny Goler<br/>

			Travis OberlAnder
			</p>

			<h4>Camera Operators</h4>
			<p>
			Travis OberlAnder<br/>

			Lada NikolskA
			</p>

			<h4>Editor</h4>
			<p>
			Sylvain FrAnchet<br/>

			Will Torbett
			</p>

			<h4>Sound Designer / ADR</h4>
			<p>
			Tony Crowe
			</p>

			<h4>Special Effects</h4>
			<p>
			Parker McCAbe
			</p>

			<h4>Colorist</h4>
			<p>
			Vanessa Colombel<br/>

			Jerimiah Morey
			</p>

			<h4>Poster Designer</h4>

			Antoine ElizAbé

			<h4>Music</h4>
			<p>
			<h5>Marcel's Theme</h5>
			Laurent GAnem<br/>

			Music Composed and Performed by LG Clarinettes<br/>

			Nicolas Naudet<br/>

			<h5>« Compulsively Happy »</h5>
			Writer/Composer - Roby MeolA, Marem HAssler<br/>
			Performer - Marem HAssler<br/>

			<h5>« She Is All I Am Not »</h5>
			Writer/Composer - Roby MeolA, Marem HAssler<br/>
			Performer - Marem HAssler<br/>

			<h5>« In the Fog »</h5>
			Composer / Performer - Armando Fernando Wehrli<br/>

			<h5>« Winter Light »</h5>
			Composer / Performer - Armando Fernando Wehrli

			<h5>« Solution »</h5>
			Composer / Performer - Armando Fernando Wehrli

			<h5>« Je Mens Song »</h5>
			Composer - Mark Weld
			</p>

			<h4>Special Thanks</h4>
			<p>
			Tini Fourniture
			</p>

			<h4>Thank You</h4>

			James GlAder, Brice PicArd, Briana FrApArt, Alexander AlexAndrov

			<h5>
				Thank YOu, Las Vegas, for your hottest day in the desert!<br/>

				Thank YOu, Los Angeles, for all your crazy people on Sunset Blvd.

			</h5>
		</div>
	</div>
</div>
