<section id="credits">
	<div class="small row text-center">
		<h3>Credits</h3>
		<hr class="star-light">
		<div class="col-md-12 credit-content">
			<h4>Act<span class="accent">o</span>rs</h4>
					<p>
						Marem HAssler -­ Melanie<br/>

						Karl E. LAndler ­- Marcel<br/>

						Danny Goler ­- Vladiki<br/>

						Aurelie Meriel ­- Elise<br/>

						Lada NikolskA -­ Katya<br/>
					</p>
			<h4>Written by</h4>
			<p>
				Marem HAssler<br/>

				Karl E. LAndler<br/>
			</p>

			<h4>Pr<span class="accent">o</span>ducers</h4>

			<p>
			Kemi HernAndez<br/>

			Andrea LAuren GoldmAn<br/>

			Karl E. LAndler<br/>
			</p>

			<h4>Pr<span class="accent">o</span>duction Design</h4>
			<p>
			Marem HAssler
			</p>

			<h4>C<span class="accent">o</span> Pr<span class="accent">o</span>ducers</h4>
			<p>
			Franck IsAbel<br/>

			Ching CAsAnovA TApiA<br/>

			Thierry Perrini<br/>

			Sylvain Franchet<br/>
			</p>

			<h4>Ass<span class="accent">o</span>ciate Pr<span class="accent">o</span>ducer</h4>

			<p>
			Lada NikolskA<br/>

			Danny Goler<br/>

			Travis OberlAnder
			</p>

			<h4>Camera <span class="accent">o</span>perat<span class="accent">o</span>rs</h4>
			<p>
			Travis OberlAnder<br/>

			Lada NikolskA
			</p>

			<h4>Edit<span class="accent">o</span>r</h4>
			<p>
			Sylvain FrAnchet<br/>

			Will Torbett
			</p>

			<h4>Trailer Edit<span class="accent">o</span>r</h4>
			<p>
				Ayasylla Ghosn
			</p>

			<h4>S<span class="accent">o</span>und Designer / ADR</h4>
			<p>
			Tony Crowe
			</p>

			<h4>Special Effects</h4>
			<p>
			Parker McCAbe
			</p>

			<h4>C<span class="accent">o</span>l<span class="accent">o</span>rist</h4>
			<p>
			Vanessa Colombel<br/>

			Jerimiah Morey
			</p>

			<h4>P<span class="accent">o</span>ster Designer</h4>

			Antoine ElizAbé<br/><br/><br/>

			<h4>Music</h4>
			<p>
			<h5>« Marcel's Theme »</h5>
			Laurent GAnem<br/>

			Music Composed and Performed by LG Clarinettes<br/>

			Nicolas Naudet<br/>

			<h5>« C<span class="accent">o</span>mpulsively Happy »</h5>
			Writer/Composer - Roby MeolA, Marem HAssler<br/>
			Performer - Marem HAssler<br/>

			<h5>« She Is All I Am N<span class="accent">o</span>t »</h5>
			Writer/Composer - Roby MeolA, Marem HAssler<br/>
			Performer - Marem HAssler<br/>

			<h5>« In the F<span class="accent">o</span>g »</h5>
			Composer / Performer - Armando Fernando Wehrli<br/>

			<h5>« Winter Light »</h5>
			Composer / Performer - Armando Fernando Wehrli

			<h5>« S<span class="accent">o</span>lution »</h5>
			Composer / Performer - Armando Fernando Wehrli

			<h5>« Je Mens S<span class="accent">o</span>ng »</h5>
			Composer - Mark Weld
		</p><br/><br/>

			<h4>Special Thanks</h4>
			<p>
			Tini Furniture
			</p><br/><br/>

			<h4>Thank Y<span class="accent">o</span>u</h4>

			<p>James GlAder, Brice PicArd, Briana FrApArt, Alexander AlexAndrov</p><br/><br/>

			<p>
				Thank YOu, Las Vegas, for your hottest day in the desert!<br/>

				Thank YOu, Los Angeles, for all your crazy people on Sunset Blvd.

			</p>
		</div>
	</div>
</div>
</section>
