    <!-- Header -->
    <header>
        <div id="page-top" class="row">
          <div class="col-md-6">
            <img class="img-responsive logo-top animated bounceInDown" src="img/duo-logo.png" alt="">
            <p class="animated delay fadeIn">A Film by Karl E. Landler</p>
            <hr class="animated bounceInUp star-light">
            <span class="page-scroll">
              <a href="#support" class="btn btn-support animated fadeIn delay">Support Us</a>
            </span>
          </div>
          <div class="col-md-6">
            <img class="img-responsive animated fadeIn poster" src="img/poster.jpeg" alt="Duo Film">
          </div>
        </div>
    </header>
