    <!-- Header -->
    <header>
        <div id="page-top" class="row">
          <!-- <div class="col-md-4 col-md-offset-1">
            <h1 class="animated fadeIn head-logo">Du<span class="accent animated bounce delay">O</span></h1>

            <hr class="animated fadeIn star-light">
            <p class="animated delay fadeIn">A Film by Karl E. Landler</p> -->

            <!-- <p class="animated delay fadeIn">Broken heart, broken mime.<br/>
              DuO enhances the journey of two beautiful bleeding souls. Finding a way to communicate through the obstacle

              course of their barriers is the only way to prevent this trip turning into a disaster.</p> -->
            <!-- <span class="page-scroll">
              <a href="#support" class="btn btn-support animated fadeIn delay">Support Us</a>
            </span> -->
          <!-- </div>
          <div class="col-md-6"> -->
            <!-- <img class="img-responsive animated fadeIn poster" src="img/poster.jpeg" alt="Duo Film"> -->
          <!-- </div> -->
        </div>
    </header>
