<section id="statement">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Direct<span class="accent animated bounce delay">o</span>r's Statement</h3>
				<hr class="star-light">
			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-6">
				<p class="small">
					When I first moved to the United States, I arrived with a dream. The American

					Dream. This was before realizing that I had to be ready for another kind of

					battle ; establishing myself in another country while barely speaking

					the language.  Being a foreigner… I had never been on the other side. What a

					strange feeling.<br/><br/>

					I crossed the ocean to be the «leading man », the « action movie star » not

					considering for a single moment, the complexity of being placed in a different

					culture. Yes :  A different culture.<br/><br/>

					We eat the same food, wear the same clothes,  watch the same movies and yet we

					are different.<br/><br/>

					DuO is a reflection of what I’ve been through, during those  years, before I was

					able to understand  and appreciate those differences. An acceptance that led to

					truly exploring the strength and the creative energy this country has to offer.

					Marcel desperately wants to share his internal world, Melanie in equal measure,

					has locked herself out of hers, prefering to focus on the external. Both are

					frustrated with the lack of understanding of the other person.<br/><br/>

					The joint journey allows for the realization that barriers, be it cultural or any

					other kind are truly self imposed.  Because as different as we perceive ourselves

					to be- at the core we are all human. We love, laugh and cry the same.<br/><br/>
				</p>
			</div>
			<div class="col-md-6">
				<p class="small">
				<em>
					« DuO » est un film sur la différence, la tolérance et la solitude.

					Lorsque je suis venu pour la première fois aux Etats Unis, j’y suis venu avec un a

					rêve. Le Rêve Américain. C’était bien avant de réaliser que je devais me préparer

					pour un autre grand challenge ; être un acteur dans un pays où je parlais à peine

					la langue, être un étranger… une première pour moi.<br/><br/>

					Je suis arrivé aux USA avec tous les atouts pour être le héros  de film d’action

					sans penser un seul moment à mes différences au sein d’une autre culture. Oui,

					une autre culture.<br/><br/>

					« DuO » est une représentation de mes premiers voyages dans ce pays, entre joie

					et désillusion, avant de comprendre et apprécier sa force et de canaliser cette

					intense énergie du tout-est-possible pour enfin grandir avec lui. <br/><br/>

					Marcel essaie désespérément de partager son monde intérieur, Mélanie, de son

					côté, est concentrée sur les apparences fuyant ainsi ces propres émotions. La

					frustration de nos héros est d’autant plus importante réalisant leur incapacité à

					communiquer. Alors que Marcel et Mélanie se révèlent à nous, nous réalisons

					avec eux que les seules barrières qui peuvent nous séparer les uns des autres ne

					sont ni culturelles ni linguistiques, mais bien celles que nous nous imposons.<br/><br/>
			</em>
			</p>
			</div>
		</div>
	</div>
</section>
