<section id="support">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Supp<span class="accent animated bounce delay">o</span>rt Us</h3>
				<hr class="star-light">
			</div>
		</div>
		<div class="row text-center">
			<p>Our kickstarter campaign is coming soon.</p>
			<p>In the meantime, Duo Film's <a href="https://www.facebook.com/DuoFilmMime" target="_blank" class="support-link">Facebook page</a> for the latest news.</p>
		</div>
	</div>
</section>
